.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3em;
    gap: 3em;
    justify-content: center;
    align-items: flex-start;
}


.rowLabel {
    text-align: center;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
}

.rowLabelLine {
    display: block;
    flex: 1;
    height: 3px;
    background-color: currentColor;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 1em;
        width: 3px;
        background-color: currentColor;
    }

    &:first-child::before {
        left: 0;
    }

    &:last-child::before {
        right: 0;
    }
}

.rowLabelText {
    font-size: 1.25em;
    margin: 0 0.4em;
}

.rowItems {
    display: flex;
    gap: 4em;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}