body,
html {
    margin: 0;
    padding: 0;
    background-color: #8b8b8b;
}

:root {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #fff;
}